<% include ./Components/header %>
<% include ./Components/navbar %>

<div style="text-align: center; font-size: 100pt;">
        <p> <span style="color: red;">404</span> Not Found </p>
</div>

<% include ./Components/footer %>