<% include ./Components/header %>
<% include ./Components/navbar %>

<section>
    <div class="py-3">
        <div class="container"> 
           <div class="greenbox"></div> : 시작점입니다. 해당 위치에 마우스를 올려놓으시면 게임이 시작됩니다.<br>
           <div class="redbox"></div>   : 부딫히면 게임이 끝나고, 처음 스테이지로 돌아갑니다.<br>
           <div class="bluebox"></div>  : 도착점입니다. 해당 위치에 도착하시면 다음 스테이지로 넘어갑니다.<br>
           <br>
           총 5스테이지로 준비되어있습니다.
           <br>
           플래그가 <span style="color:red;">빨간</span>색으로 변했을 때, 해당 플래그를 인증해주세요.
            <br><br>
            <div style="text-align: center;"><a href="/game"><span style="color:red; font-size:32px; font-weight: bold;">GAME START</span></a></div>
           
        </div>
    </div>
</section>

<% include ./Components/footer %>