<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/game.js"></script>
</body>
</html>