<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #292626; heigth:18%;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/profile.png" style="width:60px; height:auto; margin-top: -15px;">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav" style="font-size: 18px;">
            </ul>
        </div>
    </div>
</nav>